*.sql.gz
.netbox
.initializers
Dockerfile-Plugins
docker-compose.override.yml
*.pem
configuration/*
!configuration/configuration.py
!configuration/extra.py
configuration/ldap/*
!configuration/ldap/extra.py
!configuration/ldap/ldap_config.py
!configuration/logging.py
!configuration/plugins.py
plugin_requirements.txt
prometheus.yml
super-linter.log
