# See: https://github.com/netbox-community/netbox-docker/wiki/Using-Netbox-Plugins
PLUGINS = ["netbox_secrets"]

# PLUGINS_CONFIG = {
#   "netbox_secretstore": {
#     ADD YOUR SETTINGS HERE
#   }
# }